#Github {
  fill: var(--github);
}

#Facebook {
  fill: var(--facebook);
}

#Reddit {
  fill: var(--reddit);
}

#Twitter {
  fill: var(--twitter);
}

#Linkedin {
  fill: var(--linkedin);
}

#TermianlIcon {
  fill: black;
}

.Statusbar {
  position: fixed;
  min-width: 100%;
  height: 7%;
  left: 0%;
  bottom: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(70px);
  -webkit-backdrop-filter: blur(70px);
  background-color: var(--statusBar);
  padding: 0;
}

.List {
  position: relative;
  display: flex;
}

.SbIcon {
  margin: 0.3rem;
  padding: 0.7rem 0.5rem;
  font-size: 2.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #win {
    width: 4rem;
    height: 4rem;
    cursor: default;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #IdeIcon {
    width: 2.5rem;
    height: 2.5rem;
    cursor: default;
  }
  #Search {
    width: 2.5rem;
    height: 2.5rem;
    cursor: default;
  }
}

@media (min-width: 1024px) {
  .SbIcon {
    #win {
      width: 2.8rem;
      height: 2.8rem;
      cursor: default;
      margin-left: 0rem;
      margin-right: 0rem;
    }
  }
}
